# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment files
venv/
env/

# Ignore IDE and editor files
.vscode/
.idea/
*.pydevproject
*.pyc
*.pyo
*.sage.py
Thumbs.db
.DS_Store

# Ignore logs and temporary files
*.log
*.bak
*.swp
*.tmp
*.csv

# Ignore package build files
*.egg-info/
dist/
build/